/* Pulling source for the latest version */
@import url("https://aely0.github.io/Kyanite/src/source.css");

/* Adjustable main color palette and background options */
:root {
    /* Kyanite accents */
    --main-color: rgba(22, 91, 123, 1) !important;
    --dark-bg: rgba(7, 22, 37, 0.95) !important;
    --soft-bright-color: rgb(133, 206, 255) !important;
    --hover-color: rgba(22, 91, 123, 0.3) !important;
    --hover-faded-color: rgba(22, 91, 123, 0.2) !important;
    --hover-faint-color: rgba(22, 91, 123, 0.1) !important;
    --hover-dark-color: rgba(22, 91, 123, 0.8) !important;
    --hover-bright-color: rgba(16, 165, 235, 0.8) !important;

    /* Background options */
    --background-blur: 0px !important;
    --background-brightness: 100% !important;
}

/* Main background */
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash {
    background-image: url("https://aely0.github.io/Kyanite/src/resources/kyanite.jpg") !important;
}

/* Some elements are hidden by default, uncomment the ones below to unhide them */

/* Message hover toolbar (tag:hidden) */
._5126c0cd07f243a0-message._5126c0cd07f243a0-selected ._5126c0cd07f243a0-buttons,
.mouse-mode ._5126c0cd07f243a0-message:hover ._5126c0cd07f243a0-buttons {
    display: initial !important;
}

/* Nitro / Shop tab (tag:hidden) */
/*
._972a0d22c8afa7f0-channel [href="/store"],
._972a0d22c8afa7f0-channel [href="/shop"] {
    display: initial !important;
}
*/

/* Message bar gift button (tag:hidden) */
/*
._740174f3d6a2c8fe-button._24af7f4d0326ba4f-button:has(
        div > div > svg > g > g > g > g > path[d^=" M-7,10 C-8.104999542236328"]
    ) {
    display: initial !important;
}
*/

/* Help button (tag:hidden) */
/*
a[href="https://support.discord.com"] {
    display: initial !important;
}
*/

/* Apps and Commands button (tag:hidden) */
/*
.app-launcher-entrypoint {
    display: initial !important;
}
._0f481cbbd7530492-jumpToPresentBar {
    right: calc(
        16px + var(--custom-channel-textarea-text-area-height) +
            var(--custom-channel-textarea-app-launcher-button-gap)
    ) !important;
}
*/

/* Apps and Commands button (images) (tag:hidden) */
/*
._06ab41fd2ef7af3f-hoverButton:has(div > svg > g > g > g > g > path[d^=" M-6.55499982"]) {
    display: initial !important;
}
*/

/* Add your custom rules here */
