/* Pulling source for the latest version */
@import url(https://raw.githubusercontent.com/Aely0/Kyanite/master/src/source.css);

/* Adjustable main color palette and background options */
:root {
    /* Magenta accents */
    --main-color: rgb(115, 22, 123) !important;
    --dark-bg: rgba(37, 7, 37, 0.95) !important;
    --soft-bright-color: rgba(255, 133, 255, 1) !important;
    --hover-color: rgba(123, 22, 123, 0.3) !important;
    --hover-faded-color: rgba(123, 22, 123, 0.2) !important;
    --hover-faint-color: rgba(123, 22, 123, 0.1) !important;
    --hover-dark-color: rgba(123, 22, 123, 0.8) !important;
    --hover-bright-color: rgba(253, 97, 227, 0.8) !important;

    /* Background options */
    --background-blur: 0px !important;
    --background-brightness: 100% !important;
}

/* Main background */
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash {
    background-image: url("https://raw.githubusercontent.com/Aely0/Kyanite/master/src/resources/magenta.jpg") !important;
}

/* Some elements are hidden by default, uncomment the ones below to unhide them */

/* Message hover toolbar (tag:hidden) */
.message_d5deea.selected_d5deea .buttons_d5deea,
.mouse-mode .message_d5deea:hover .buttons_d5deea {
    display: initial !important;
}

/* Nitro / Shop tab (tag:hidden) */
/*
.channel_c91bad [href="/store"],
.channel_c91bad [href="/shop"] {
    display: initial !important;
}
*/

/* Message bar gift button (tag:hidden) */
/*
.container_efde15,
.giftIconButton_efde15 {
    display: initial !important;
}
*/

/* Help button (tag:hidden) */
/*
.toolbar_fc4f04 [href="https://support.discord.com"] {
    display: initial !important;
}
*/

/* Apps and Commands button (tag:hidden) */
/*
.channelAppLauncher_df39bd {
    display: initial !important;
}
.jumpToPresentBar_cf58b5 {
    right: calc(
        16px + var(--custom-channel-textarea-text-area-height) +
            var(--custom-channel-textarea-app-launcher-button-gap)
    ) !important;
}
*/

/* Apps and Commands button (images) (tag:hidden) */
/*
.hoverButton_d0395d[aria-label="Edit Image with Apps"] {
    display: initial !important;
}
*/

/* Add your custom rules here */
